智慧城市/项目代码/TIM 代码/SyncPerson/WebContent/META-INF/wsdl/WSGroupService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.ws.itim.ibm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.ws.itim.ibm.com" xmlns:intf="http://services.ws.itim.ibm.com" xmlns:tns1="http://model.ws.itim.ibm.com" xmlns:tns2="http://exceptions.ws.itim.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <import namespace="http://model.ws.itim.ibm.com"/>
   <element name="addGroupMembers">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="groupDN" type="xsd:string"/>
      <element maxOccurs="unbounded" name="accountDNs" type="xsd:string"/>
      <element name="date" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="addGroupMembersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="addGroupMembersReturn" type="tns1:WSRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns2:WSLoginServiceException"/>
   <element name="fault1" type="tns2:WSApplicationException"/>
   <element name="fault2" type="tns2:WSUnsupportedVersionException"/>
   <element name="createGroup">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="wsGroup" type="tns1:WSGroup"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns1_WSAttribute">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:WSAttribute"/>
    </sequence>
   </complexType>
   <element name="createGroupResponse">
    <complexType>
     <sequence>
      <element name="createGroupReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGroupMembers">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="groupDN" type="xsd:string"/>
      <element name="userId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGroupMembersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getGroupMembersReturn" type="tns1:WSAccount"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGroupsByAccess">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="serviceDN" type="xsd:string"/>
      <element name="groupProfileName" type="xsd:string"/>
      <element name="accessInfo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGroupsByAccessResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getGroupsByAccessReturn" type="tns1:WSGroup"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGroupsByAccount">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="accountDN" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGroupsByAccountResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getGroupsByAccountReturn" type="tns1:WSGroup"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGroupsByService">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="serviceDN" type="xsd:string"/>
      <element name="groupProfileName" type="xsd:string"/>
      <element name="groupInfo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGroupsByServiceResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getGroupsByServiceReturn" type="tns1:WSGroup"/>
     </sequence>
    </complexType>
   </element>
   <element name="lookupGroup">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="groupDN" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="lookupGroupResponse">
    <complexType>
     <sequence>
      <element name="lookupGroupReturn" type="tns1:WSGroup"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeGroup">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="groupDN" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeGroupResponse">
    <complexType/>
   </element>
   <element name="removeGroupMembers">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="groupDN" type="xsd:string"/>
      <element maxOccurs="unbounded" name="accountDNs" type="xsd:string"/>
      <element name="date" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeGroupMembersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="removeGroupMembersReturn" type="tns1:WSRequest"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <import namespace="http://services.ws.itim.ibm.com"/>
   <complexType name="WSLocale">
    <sequence>
     <element name="country" nillable="true" type="xsd:string"/>
     <element name="variant" nillable="true" type="xsd:string"/>
     <element name="language" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WSSession">
    <sequence>
     <element name="clientSession" nillable="true" type="xsd:string"/>
     <element name="enforceChallengeResponse" type="xsd:boolean"/>
     <element name="locale" nillable="true" type="tns1:WSLocale"/>
     <element name="sessionID" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="WSRequest">
    <sequence>
     <element name="timeCompleted" nillable="true" type="xsd:dateTime"/>
     <element name="subjectProfile" nillable="true" type="xsd:string"/>
     <element name="result" nillable="true" type="xsd:string"/>
     <element name="select" type="xsd:boolean"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="processTypeString" nillable="true" type="xsd:string"/>
     <element name="title" nillable="true" type="xsd:string"/>
     <element name="owner" nillable="true" type="xsd:string"/>
     <element name="processStateString" nillable="true" type="xsd:string"/>
     <element name="status" type="xsd:int"/>
     <element name="requestee" nillable="true" type="xsd:string"/>
     <element name="timeSubmitted" nillable="true" type="xsd:dateTime"/>
     <element name="subject" nillable="true" type="xsd:string"/>
     <element name="requestId" type="xsd:long"/>
     <element name="processType" nillable="true" type="xsd:string"/>
     <element name="subjectService" nillable="true" type="xsd:string"/>
     <element name="statusString" nillable="true" type="xsd:string"/>
     <element name="processState" nillable="true" type="xsd:string"/>
     <element name="timeScheduled" nillable="true" type="xsd:dateTime"/>
    </sequence>
   </complexType>
   <complexType name="WSAttribute">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="values" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="WSObject">
    <sequence>
     <element name="attributes" nillable="true" type="impl:ArrayOf_tns1_WSAttribute"/>
     <element name="select" type="xsd:boolean"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="itimDN" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WSGroup">
    <complexContent>
     <extension base="tns1:WSObject">
      <sequence>
       <element name="serviceDN" nillable="true" type="xsd:string"/>
       <element name="description" nillable="true" type="xsd:string"/>
       <element name="id" nillable="true" type="xsd:string"/>
       <element name="profileName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="WSAccount">
    <complexContent>
     <extension base="tns1:WSObject">
      <sequence>
       <element name="serviceDN" nillable="true" type="xsd:string"/>
       <element name="profileName" nillable="true" type="xsd:string"/>
       <element name="serviceName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.ws.itim.ibm.com"/>
   <import namespace="http://services.ws.itim.ibm.com"/>
   <complexType name="WSLoginServiceException">
    <sequence/>
   </complexType>
   <complexType name="WSApplicationException">
    <sequence/>
   </complexType>
   <complexType name="WSUnsupportedVersionException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getGroupsByAccountRequest">

      <wsdl:part element="intf:getGroupsByAccount" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSLoginServiceException">

      <wsdl:part element="intf:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="lookupGroupResponse">

      <wsdl:part element="intf:lookupGroupResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGroupsByAccessResponse">

      <wsdl:part element="intf:getGroupsByAccessResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="createGroupResponse">

      <wsdl:part element="intf:createGroupResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="lookupGroupRequest">

      <wsdl:part element="intf:lookupGroup" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGroupsByAccessRequest">

      <wsdl:part element="intf:getGroupsByAccess" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGroupsByAccountResponse">

      <wsdl:part element="intf:getGroupsByAccountResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="createGroupRequest">

      <wsdl:part element="intf:createGroup" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="removeGroupMembersRequest">

      <wsdl:part element="intf:removeGroupMembers" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGroupMembersResponse">

      <wsdl:part element="intf:getGroupMembersResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSUnsupportedVersionException">

      <wsdl:part element="intf:fault2" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getGroupsByServiceResponse">

      <wsdl:part element="intf:getGroupsByServiceResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="removeGroupRequest">

      <wsdl:part element="intf:removeGroup" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addGroupMembersRequest">

      <wsdl:part element="intf:addGroupMembers" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGroupsByServiceRequest">

      <wsdl:part element="intf:getGroupsByService" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSApplicationException">

      <wsdl:part element="intf:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="removeGroupMembersResponse">

      <wsdl:part element="intf:removeGroupMembersResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getGroupMembersRequest">

      <wsdl:part element="intf:getGroupMembers" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="removeGroupResponse">

      <wsdl:part element="intf:removeGroupResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addGroupMembersResponse">

      <wsdl:part element="intf:addGroupMembersResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="WSGroupService">

      <wsdl:operation name="addGroupMembers">

         <wsdl:input message="intf:addGroupMembersRequest" name="addGroupMembersRequest"/>

         <wsdl:output message="intf:addGroupMembersResponse" name="addGroupMembersResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="intf:WSUnsupportedVersionException" name="WSUnsupportedVersionException"/>

      </wsdl:operation>

      <wsdl:operation name="createGroup">

         <wsdl:input message="intf:createGroupRequest" name="createGroupRequest"/>

         <wsdl:output message="intf:createGroupResponse" name="createGroupResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="intf:WSUnsupportedVersionException" name="WSUnsupportedVersionException"/>

      </wsdl:operation>

      <wsdl:operation name="getGroupMembers">

         <wsdl:input message="intf:getGroupMembersRequest" name="getGroupMembersRequest"/>

         <wsdl:output message="intf:getGroupMembersResponse" name="getGroupMembersResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="intf:WSUnsupportedVersionException" name="WSUnsupportedVersionException"/>

      </wsdl:operation>

      <wsdl:operation name="getGroupsByAccess">

         <wsdl:input message="intf:getGroupsByAccessRequest" name="getGroupsByAccessRequest"/>

         <wsdl:output message="intf:getGroupsByAccessResponse" name="getGroupsByAccessResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="intf:WSUnsupportedVersionException" name="WSUnsupportedVersionException"/>

      </wsdl:operation>

      <wsdl:operation name="getGroupsByAccount">

         <wsdl:input message="intf:getGroupsByAccountRequest" name="getGroupsByAccountRequest"/>

         <wsdl:output message="intf:getGroupsByAccountResponse" name="getGroupsByAccountResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="intf:WSUnsupportedVersionException" name="WSUnsupportedVersionException"/>

      </wsdl:operation>

      <wsdl:operation name="getGroupsByService">

         <wsdl:input message="intf:getGroupsByServiceRequest" name="getGroupsByServiceRequest"/>

         <wsdl:output message="intf:getGroupsByServiceResponse" name="getGroupsByServiceResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="intf:WSUnsupportedVersionException" name="WSUnsupportedVersionException"/>

      </wsdl:operation>

      <wsdl:operation name="lookupGroup">

         <wsdl:input message="intf:lookupGroupRequest" name="lookupGroupRequest"/>

         <wsdl:output message="intf:lookupGroupResponse" name="lookupGroupResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="intf:WSUnsupportedVersionException" name="WSUnsupportedVersionException"/>

      </wsdl:operation>

      <wsdl:operation name="removeGroup">

         <wsdl:input message="intf:removeGroupRequest" name="removeGroupRequest"/>

         <wsdl:output message="intf:removeGroupResponse" name="removeGroupResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="intf:WSUnsupportedVersionException" name="WSUnsupportedVersionException"/>

      </wsdl:operation>

      <wsdl:operation name="removeGroupMembers">

         <wsdl:input message="intf:removeGroupMembersRequest" name="removeGroupMembersRequest"/>

         <wsdl:output message="intf:removeGroupMembersResponse" name="removeGroupMembersResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="intf:WSUnsupportedVersionException" name="WSUnsupportedVersionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSGroupServiceSoapBinding" type="intf:WSGroupService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addGroupMembers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addGroupMembersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addGroupMembersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSUnsupportedVersionException">

            <wsdlsoap:fault name="WSUnsupportedVersionException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="createGroup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createGroupRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createGroupResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSUnsupportedVersionException">

            <wsdlsoap:fault name="WSUnsupportedVersionException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getGroupMembers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGroupMembersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getGroupMembersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSUnsupportedVersionException">

            <wsdlsoap:fault name="WSUnsupportedVersionException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getGroupsByAccess">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGroupsByAccessRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getGroupsByAccessResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSUnsupportedVersionException">

            <wsdlsoap:fault name="WSUnsupportedVersionException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getGroupsByAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGroupsByAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getGroupsByAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSUnsupportedVersionException">

            <wsdlsoap:fault name="WSUnsupportedVersionException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getGroupsByService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGroupsByServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getGroupsByServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSUnsupportedVersionException">

            <wsdlsoap:fault name="WSUnsupportedVersionException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="lookupGroup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lookupGroupRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="lookupGroupResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSUnsupportedVersionException">

            <wsdlsoap:fault name="WSUnsupportedVersionException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeGroup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeGroupRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeGroupResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSUnsupportedVersionException">

            <wsdlsoap:fault name="WSUnsupportedVersionException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeGroupMembers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeGroupMembersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeGroupMembersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSUnsupportedVersionException">

            <wsdlsoap:fault name="WSUnsupportedVersionException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSGroupServiceService">

      <wsdl:port binding="intf:WSGroupServiceSoapBinding" name="WSGroupService">

         <wsdlsoap:address location="http://10.47.1.51:9081/itim/services/WSGroupServiceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
