智慧城市/项目代码/TIM 代码/SyncPerson/WebContent/META-INF/wsdl/WSPasswordService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.ws.itim.ibm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.ws.itim.ibm.com" xmlns:intf="http://services.ws.itim.ibm.com" xmlns:tns1="http://model.ws.itim.ibm.com" xmlns:tns2="http://exceptions.ws.itim.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <import namespace="http://model.ws.itim.ibm.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="changePassword">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element maxOccurs="unbounded" name="accountDNs" type="xsd:string"/>
      <element name="newPassword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="changePasswordResponse">
    <complexType>
     <sequence>
      <element name="changePasswordReturn" type="tns1:WSRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns2:WSInvalidSessionException"/>
   <element name="fault1" type="tns2:WSLoginServiceException"/>
   <element name="fault2" type="tns2:WSApplicationException"/>
   <element name="fault3" type="tns2:WSPasswordRuleException"/>
   <element name="fault4" type="tns2:WSInvalidPasswordException"/>
   <element name="generatePassword">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element maxOccurs="unbounded" name="accountDNs" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generatePasswordResponse">
    <complexType>
     <sequence>
      <element name="generatePasswordReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generatePasswordByService">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="serviceDN" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generatePasswordByServiceResponse">
    <complexType>
     <sequence>
      <element name="generatePasswordByServiceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generatePasswordForService">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="serviceDN" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generatePasswordForServiceResponse">
    <complexType>
     <sequence>
      <element name="generatePasswordForServiceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPasswordRules">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element maxOccurs="unbounded" name="accountDNs" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPasswordRulesResponse">
    <complexType>
     <sequence>
      <element name="getPasswordRulesReturn" type="tns1:WSPasswordRulesInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSelfPasswordChangeRules">
    <complexType>
     <sequence>
      <element name="itimAccountId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSelfPasswordChangeRulesResponse">
    <complexType>
     <sequence>
      <element name="getSelfPasswordChangeRulesReturn" type="tns1:WSPasswordRulesInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="isPasswordValid">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element maxOccurs="unbounded" name="accountDNs" type="xsd:string"/>
      <element name="newPassword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isPasswordValidResponse">
    <complexType>
     <sequence>
      <element name="isPasswordValidReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="joinRules">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="wsPris" type="tns1:WSPasswordRulesInfo"/>
      <element name="wsLocale" type="tns1:WSLocale"/>
     </sequence>
    </complexType>
   </element>
   <element name="joinRulesResponse">
    <complexType>
     <sequence>
      <element name="joinRulesReturn" type="tns1:WSPasswordRulesInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="selfChangePassword">
    <complexType>
     <sequence>
      <element name="itimAccountId" type="xsd:string"/>
      <element name="oldPassword" type="xsd:string"/>
      <element name="newPassword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="selfChangePasswordResponse">
    <complexType>
     <sequence>
      <element name="selfChangePasswordReturn" type="tns1:WSRequest"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <complexType name="WSLocale">
    <sequence>
     <element name="country" nillable="true" type="xsd:string"/>
     <element name="variant" nillable="true" type="xsd:string"/>
     <element name="language" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WSSession">
    <sequence>
     <element name="clientSession" nillable="true" type="xsd:string"/>
     <element name="enforceChallengeResponse" type="xsd:boolean"/>
     <element name="locale" nillable="true" type="tns1:WSLocale"/>
     <element name="sessionID" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="WSRequest">
    <sequence>
     <element name="timeCompleted" nillable="true" type="xsd:dateTime"/>
     <element name="subjectProfile" nillable="true" type="xsd:string"/>
     <element name="result" nillable="true" type="xsd:string"/>
     <element name="select" type="xsd:boolean"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="processTypeString" nillable="true" type="xsd:string"/>
     <element name="title" nillable="true" type="xsd:string"/>
     <element name="owner" nillable="true" type="xsd:string"/>
     <element name="processStateString" nillable="true" type="xsd:string"/>
     <element name="status" type="xsd:int"/>
     <element name="requestee" nillable="true" type="xsd:string"/>
     <element name="timeSubmitted" nillable="true" type="xsd:dateTime"/>
     <element name="subject" nillable="true" type="xsd:string"/>
     <element name="requestId" type="xsd:long"/>
     <element name="processType" nillable="true" type="xsd:string"/>
     <element name="subjectService" nillable="true" type="xsd:string"/>
     <element name="statusString" nillable="true" type="xsd:string"/>
     <element name="processState" nillable="true" type="xsd:string"/>
     <element name="timeScheduled" nillable="true" type="xsd:dateTime"/>
    </sequence>
   </complexType>
   <complexType name="WSPasswordRulesInfo">
    <sequence>
     <element name="allowUserName" type="xsd:boolean"/>
     <element name="requiredChars" nillable="true" type="xsd:string"/>
     <element name="minDistinctCharacters" type="xsd:int"/>
     <element name="minLength" type="xsd:int"/>
     <element name="reversedHistoryLength" type="xsd:int"/>
     <element name="maxValidityPeriod" type="xsd:long"/>
     <element name="allowUserIDCaseInsensitive" type="xsd:boolean"/>
     <element name="allowUserID" type="xsd:boolean"/>
     <element name="maxSequentialCharacters" type="xsd:int"/>
     <element name="maxLength" type="xsd:int"/>
     <element name="minAlphabeticCharacters" type="xsd:int"/>
     <element name="restrictedToChars" nillable="true" type="xsd:string"/>
     <element name="customRules" nillable="true" type="apachesoap:Map"/>
     <element name="invalidChars" nillable="true" type="xsd:string"/>
     <element name="startsWithChars" nillable="true" type="xsd:string"/>
     <element name="minDigitCharacters" type="xsd:int"/>
     <element name="minValidityPeriod" type="xsd:long"/>
     <element name="allowInDictionary" type="xsd:boolean"/>
     <element name="allowUserNameCaseInsensitive" type="xsd:boolean"/>
     <element name="repeatedHistoryLength" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.ws.itim.ibm.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <complexType name="WSLoginServiceException">
    <sequence/>
   </complexType>
   <complexType name="WSInvalidSessionException">
    <complexContent>
     <extension base="tns2:WSLoginServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="WSApplicationException">
    <sequence/>
   </complexType>
   <complexType name="WSPasswordRuleException">
    <sequence>
     <element name="wsPri2" nillable="true" type="tns1:WSPasswordRulesInfo"/>
     <element name="wsPri1" nillable="true" type="tns1:WSPasswordRulesInfo"/>
    </sequence>
   </complexType>
   <complexType name="WSInvalidPasswordException">
    <sequence/>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <import namespace="http://model.ws.itim.ibm.com"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="joinRulesRequest">

      <wsdl:part element="intf:joinRules" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="generatePasswordByServiceRequest">

      <wsdl:part element="intf:generatePasswordByService" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getPasswordRulesResponse">

      <wsdl:part element="intf:getPasswordRulesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSLoginServiceException">

      <wsdl:part element="intf:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getSelfPasswordChangeRulesRequest">

      <wsdl:part element="intf:getSelfPasswordChangeRules" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="changePasswordRequest">

      <wsdl:part element="intf:changePassword" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSelfPasswordChangeRulesResponse">

      <wsdl:part element="intf:getSelfPasswordChangeRulesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getPasswordRulesRequest">

      <wsdl:part element="intf:getPasswordRules" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="generatePasswordByServiceResponse">

      <wsdl:part element="intf:generatePasswordByServiceResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="joinRulesResponse">

      <wsdl:part element="intf:joinRulesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="changePasswordResponse">

      <wsdl:part element="intf:changePasswordResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="generatePasswordForServiceRequest">

      <wsdl:part element="intf:generatePasswordForService" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="generatePasswordResponse">

      <wsdl:part element="intf:generatePasswordResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSInvalidSessionException">

      <wsdl:part element="intf:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="WSApplicationException">

      <wsdl:part element="intf:fault2" name="fault"/>

   </wsdl:message>

   <wsdl:message name="WSInvalidPasswordException">

      <wsdl:part element="intf:fault4" name="fault"/>

   </wsdl:message>

   <wsdl:message name="selfChangePasswordResponse">

      <wsdl:part element="intf:selfChangePasswordResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="selfChangePasswordRequest">

      <wsdl:part element="intf:selfChangePassword" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="isPasswordValidResponse">

      <wsdl:part element="intf:isPasswordValidResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="isPasswordValidRequest">

      <wsdl:part element="intf:isPasswordValid" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="generatePasswordRequest">

      <wsdl:part element="intf:generatePassword" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="generatePasswordForServiceResponse">

      <wsdl:part element="intf:generatePasswordForServiceResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSPasswordRuleException">

      <wsdl:part element="intf:fault3" name="fault"/>

   </wsdl:message>

   <wsdl:portType name="WSPasswordService">

      <wsdl:operation name="changePassword">

         <wsdl:input message="intf:changePasswordRequest" name="changePasswordRequest"/>

         <wsdl:output message="intf:changePasswordResponse" name="changePasswordResponse"/>

         <wsdl:fault message="intf:WSPasswordRuleException" name="WSPasswordRuleException"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSInvalidPasswordException" name="WSInvalidPasswordException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="intf:WSInvalidSessionException" name="WSInvalidSessionException"/>

      </wsdl:operation>

      <wsdl:operation name="generatePassword">

         <wsdl:input message="intf:generatePasswordRequest" name="generatePasswordRequest"/>

         <wsdl:output message="intf:generatePasswordResponse" name="generatePasswordResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="generatePasswordByService">

         <wsdl:input message="intf:generatePasswordByServiceRequest" name="generatePasswordByServiceRequest"/>

         <wsdl:output message="intf:generatePasswordByServiceResponse" name="generatePasswordByServiceResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSInvalidSessionException" name="WSInvalidSessionException"/>

      </wsdl:operation>

      <wsdl:operation name="generatePasswordForService">

         <wsdl:input message="intf:generatePasswordForServiceRequest" name="generatePasswordForServiceRequest"/>

         <wsdl:output message="intf:generatePasswordForServiceResponse" name="generatePasswordForServiceResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSInvalidSessionException" name="WSInvalidSessionException"/>

      </wsdl:operation>

      <wsdl:operation name="getPasswordRules">

         <wsdl:input message="intf:getPasswordRulesRequest" name="getPasswordRulesRequest"/>

         <wsdl:output message="intf:getPasswordRulesResponse" name="getPasswordRulesResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="intf:WSInvalidSessionException" name="WSInvalidSessionException"/>

      </wsdl:operation>

      <wsdl:operation name="getSelfPasswordChangeRules">

         <wsdl:input message="intf:getSelfPasswordChangeRulesRequest" name="getSelfPasswordChangeRulesRequest"/>

         <wsdl:output message="intf:getSelfPasswordChangeRulesResponse" name="getSelfPasswordChangeRulesResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="isPasswordValid">

         <wsdl:input message="intf:isPasswordValidRequest" name="isPasswordValidRequest"/>

         <wsdl:output message="intf:isPasswordValidResponse" name="isPasswordValidResponse"/>

         <wsdl:fault message="intf:WSPasswordRuleException" name="WSPasswordRuleException"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSInvalidPasswordException" name="WSInvalidPasswordException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="intf:WSInvalidSessionException" name="WSInvalidSessionException"/>

      </wsdl:operation>

      <wsdl:operation name="joinRules">

         <wsdl:input message="intf:joinRulesRequest" name="joinRulesRequest"/>

         <wsdl:output message="intf:joinRulesResponse" name="joinRulesResponse"/>

         <wsdl:fault message="intf:WSPasswordRuleException" name="WSPasswordRuleException"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="selfChangePassword">

         <wsdl:input message="intf:selfChangePasswordRequest" name="selfChangePasswordRequest"/>

         <wsdl:output message="intf:selfChangePasswordResponse" name="selfChangePasswordResponse"/>

         <wsdl:fault message="intf:WSPasswordRuleException" name="WSPasswordRuleException"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSInvalidPasswordException" name="WSInvalidPasswordException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSPasswordServiceSoapBinding" type="intf:WSPasswordService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="changePassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changePasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changePasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSPasswordRuleException">

            <wsdlsoap:fault name="WSPasswordRuleException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSInvalidPasswordException">

            <wsdlsoap:fault name="WSInvalidPasswordException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSInvalidSessionException">

            <wsdlsoap:fault name="WSInvalidSessionException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="generatePassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generatePasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generatePasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="generatePasswordByService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generatePasswordByServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generatePasswordByServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSInvalidSessionException">

            <wsdlsoap:fault name="WSInvalidSessionException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="generatePasswordForService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generatePasswordForServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generatePasswordForServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSInvalidSessionException">

            <wsdlsoap:fault name="WSInvalidSessionException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getPasswordRules">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPasswordRulesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPasswordRulesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSInvalidSessionException">

            <wsdlsoap:fault name="WSInvalidSessionException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSelfPasswordChangeRules">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSelfPasswordChangeRulesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSelfPasswordChangeRulesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="isPasswordValid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isPasswordValidRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isPasswordValidResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSPasswordRuleException">

            <wsdlsoap:fault name="WSPasswordRuleException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSInvalidPasswordException">

            <wsdlsoap:fault name="WSInvalidPasswordException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSInvalidSessionException">

            <wsdlsoap:fault name="WSInvalidSessionException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="joinRules">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="joinRulesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="joinRulesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSPasswordRuleException">

            <wsdlsoap:fault name="WSPasswordRuleException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="selfChangePassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="selfChangePasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="selfChangePasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSPasswordRuleException">

            <wsdlsoap:fault name="WSPasswordRuleException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSInvalidPasswordException">

            <wsdlsoap:fault name="WSInvalidPasswordException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSPasswordServiceService">

      <wsdl:port binding="intf:WSPasswordServiceSoapBinding" name="WSPasswordService">

         <wsdlsoap:address location="http://10.47.1.51:9081/itim/services/WSPasswordServiceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
