智慧城市/项目代码/TIM 代码/SyncPerson/WebContent/META-INF/wsdl/WSRequestService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="http://services.ws.itim.ibm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.ws.itim.ibm.com" xmlns:intf="http://services.ws.itim.ibm.com" xmlns:tns1="http://model.ws.itim.ibm.com" xmlns:tns2="http://exceptions.ws.itim.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <import namespace="http://model.ws.itim.ibm.com"/>
   <element name="abortRequest">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="requestId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="abortRequestResponse">
    <complexType/>
   </element>
   <element name="fault" type="tns2:WSLoginServiceException"/>
   <element name="fault1" type="tns2:WSApplicationException"/>
   <element name="getActivities">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="processId" type="xsd:long"/>
      <element name="recurseSubProcesses" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getActivitiesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getActivitiesReturn" type="tns1:WSActivity"/>
     </sequence>
    </complexType>
   </element>
   <element name="getChildProcesses">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="processId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getChildProcessesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getChildProcessesReturn" type="tns1:WSRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCompletedRequests">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="timeType" type="xsd:int"/>
      <element name="dateIntervalType" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCompletedRequestsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getCompletedRequestsReturn" type="tns1:WSRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCompletedRequestsPage">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="searchResultsWrapper" type="tns1:WSSearchResultsWrapper"/>
      <element name="pageNum" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCompletedRequestsPageResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getCompletedRequestsPageReturn" type="tns1:WSRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault2" type="tns2:WSInvalidSessionException"/>
   <element name="getPendingRequests">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPendingRequestsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getPendingRequestsReturn" type="tns1:WSRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProcess">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="processId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProcessResponse">
    <complexType>
     <sequence>
      <element name="getProcessReturn" type="tns1:WSRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRequest">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="requestId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRequestResponse">
    <complexType>
     <sequence>
      <element name="getRequestReturn" type="tns1:WSRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchCompletedRequests">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="timeType" type="xsd:int"/>
      <element name="dateIntervalType" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchCompletedRequestsResponse">
    <complexType>
     <sequence>
      <element name="searchCompletedRequestsReturn" type="tns1:WSSearchResultsWrapper"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <complexType name="WSLocale">
    <sequence>
     <element name="country" nillable="true" type="xsd:string"/>
     <element name="variant" nillable="true" type="xsd:string"/>
     <element name="language" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WSSession">
    <sequence>
     <element name="clientSession" nillable="true" type="xsd:string"/>
     <element name="enforceChallengeResponse" type="xsd:boolean"/>
     <element name="locale" nillable="true" type="tns1:WSLocale"/>
     <element name="sessionID" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="WSActivity">
    <sequence>
     <element name="timeCompleted" nillable="true" type="xsd:dateTime"/>
     <element name="result" nillable="true" type="xsd:string"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:long"/>
     <element name="designId" nillable="true" type="xsd:string"/>
     <element name="timeStarted" nillable="true" type="xsd:dateTime"/>
     <element name="index" type="xsd:int"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="resultDetail" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="activitySubType" nillable="true" type="xsd:string"/>
     <element name="subProcessId" type="xsd:long"/>
     <element name="processId" type="xsd:long"/>
     <element name="activityType" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WSRequest">
    <sequence>
     <element name="timeCompleted" nillable="true" type="xsd:dateTime"/>
     <element name="subjectProfile" nillable="true" type="xsd:string"/>
     <element name="result" nillable="true" type="xsd:string"/>
     <element name="select" type="xsd:boolean"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="processTypeString" nillable="true" type="xsd:string"/>
     <element name="title" nillable="true" type="xsd:string"/>
     <element name="owner" nillable="true" type="xsd:string"/>
     <element name="processStateString" nillable="true" type="xsd:string"/>
     <element name="status" type="xsd:int"/>
     <element name="requestee" nillable="true" type="xsd:string"/>
     <element name="timeSubmitted" nillable="true" type="xsd:dateTime"/>
     <element name="subject" nillable="true" type="xsd:string"/>
     <element name="requestId" type="xsd:long"/>
     <element name="processType" nillable="true" type="xsd:string"/>
     <element name="subjectService" nillable="true" type="xsd:string"/>
     <element name="statusString" nillable="true" type="xsd:string"/>
     <element name="processState" nillable="true" type="xsd:string"/>
     <element name="timeScheduled" nillable="true" type="xsd:dateTime"/>
    </sequence>
   </complexType>
   <complexType name="WSSearchResultsWrapper">
    <sequence>
     <element name="resultsObject" nillable="true" type="xsd:string"/>
     <element name="resultsClassName" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="pageCount" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.ws.itim.ibm.com"/>
   <complexType name="WSLoginServiceException">
    <sequence/>
   </complexType>
   <complexType name="WSApplicationException">
    <sequence/>
   </complexType>
   <complexType name="WSInvalidSessionException">
    <complexContent>
     <extension base="tns2:WSLoginServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="abortRequestResponse">

      <wsdl:part element="intf:abortRequestResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSLoginServiceException">

      <wsdl:part element="intf:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getCompletedRequestsPageRequest">

      <wsdl:part element="intf:getCompletedRequestsPage" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getPendingRequestsResponse">

      <wsdl:part element="intf:getPendingRequestsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getActivitiesResponse">

      <wsdl:part element="intf:getActivitiesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getPendingRequestsRequest">

      <wsdl:part element="intf:getPendingRequests" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCompletedRequestsPageResponse">

      <wsdl:part element="intf:getCompletedRequestsPageResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="searchCompletedRequestsResponse">

      <wsdl:part element="intf:searchCompletedRequestsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="searchCompletedRequestsRequest">

      <wsdl:part element="intf:searchCompletedRequests" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getActivitiesRequest">

      <wsdl:part element="intf:getActivities" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="abortRequestRequest">

      <wsdl:part element="intf:abortRequest" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getRequestRequest">

      <wsdl:part element="intf:getRequest" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getProcessRequest">

      <wsdl:part element="intf:getProcess" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCompletedRequestsRequest">

      <wsdl:part element="intf:getCompletedRequests" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSInvalidSessionException">

      <wsdl:part element="intf:fault2" name="fault"/>

   </wsdl:message>

   <wsdl:message name="WSApplicationException">

      <wsdl:part element="intf:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getRequestResponse">

      <wsdl:part element="intf:getRequestResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getProcessResponse">

      <wsdl:part element="intf:getProcessResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCompletedRequestsResponse">

      <wsdl:part element="intf:getCompletedRequestsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getChildProcessesRequest">

      <wsdl:part element="intf:getChildProcesses" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getChildProcessesResponse">

      <wsdl:part element="intf:getChildProcessesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="WSRequestService">

      <wsdl:operation name="abortRequest">

         <wsdl:input message="intf:abortRequestRequest" name="abortRequestRequest"/>

         <wsdl:output message="intf:abortRequestResponse" name="abortRequestResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="getActivities">

         <wsdl:input message="intf:getActivitiesRequest" name="getActivitiesRequest"/>

         <wsdl:output message="intf:getActivitiesResponse" name="getActivitiesResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="getChildProcesses">

         <wsdl:input message="intf:getChildProcessesRequest" name="getChildProcessesRequest"/>

         <wsdl:output message="intf:getChildProcessesResponse" name="getChildProcessesResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="getCompletedRequests">

         <wsdl:input message="intf:getCompletedRequestsRequest" name="getCompletedRequestsRequest"/>

         <wsdl:output message="intf:getCompletedRequestsResponse" name="getCompletedRequestsResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="getCompletedRequestsPage">

         <wsdl:input message="intf:getCompletedRequestsPageRequest" name="getCompletedRequestsPageRequest"/>

         <wsdl:output message="intf:getCompletedRequestsPageResponse" name="getCompletedRequestsPageResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSInvalidSessionException" name="WSInvalidSessionException"/>

      </wsdl:operation>

      <wsdl:operation name="getPendingRequests">

         <wsdl:input message="intf:getPendingRequestsRequest" name="getPendingRequestsRequest"/>

         <wsdl:output message="intf:getPendingRequestsResponse" name="getPendingRequestsResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="getProcess">

         <wsdl:input message="intf:getProcessRequest" name="getProcessRequest"/>

         <wsdl:output message="intf:getProcessResponse" name="getProcessResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="getRequest">

         <wsdl:input message="intf:getRequestRequest" name="getRequestRequest"/>

         <wsdl:output message="intf:getRequestResponse" name="getRequestResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="searchCompletedRequests">

         <wsdl:input message="intf:searchCompletedRequestsRequest" name="searchCompletedRequestsRequest"/>

         <wsdl:output message="intf:searchCompletedRequestsResponse" name="searchCompletedRequestsResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSRequestServiceSoapBinding" type="intf:WSRequestService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="abortRequest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="abortRequestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="abortRequestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getActivities">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getActivitiesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getActivitiesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getChildProcesses">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getChildProcessesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getChildProcessesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCompletedRequests">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCompletedRequestsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCompletedRequestsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCompletedRequestsPage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCompletedRequestsPageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCompletedRequestsPageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSInvalidSessionException">

            <wsdlsoap:fault name="WSInvalidSessionException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getPendingRequests">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPendingRequestsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPendingRequestsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getProcess">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProcessRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProcessResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getRequest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRequestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRequestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="searchCompletedRequests">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchCompletedRequestsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchCompletedRequestsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSRequestServiceService">

      <wsdl:port binding="intf:WSRequestServiceSoapBinding" name="WSRequestService">

         <wsdlsoap:address location="http://10.47.1.51:9081/itim/services/WSRequestServiceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>