智慧城市/项目代码/TIM 代码/SyncPerson/WebContent/META-INF/wsdl/WSUnauthService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.ws.itim.ibm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.ws.itim.ibm.com" xmlns:intf="http://services.ws.itim.ibm.com" xmlns:tns1="http://model.ws.itim.ibm.com" xmlns:tns2="http://exceptions.ws.itim.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <import namespace="http://model.ws.itim.ibm.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="getSelfPasswordChangeRules">
    <complexType>
     <sequence>
      <element name="itimAccountId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSelfPasswordChangeRulesResponse">
    <complexType>
     <sequence>
      <element name="getSelfPasswordChangeRulesReturn" type="tns1:WSPasswordRulesInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns2:WSApplicationException"/>
   <element name="joinRules">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="wsPris" type="tns1:WSPasswordRulesInfo"/>
      <element name="wsLocale" type="tns1:WSLocale"/>
     </sequence>
    </complexType>
   </element>
   <element name="joinRulesResponse">
    <complexType>
     <sequence>
      <element name="joinRulesReturn" type="tns1:WSPasswordRulesInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault1" type="tns2:WSPasswordRuleException"/>
   <element name="selfRegister">
    <complexType>
     <sequence>
      <element name="wsPerson" type="tns1:WSPerson"/>
      <element name="tenantId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns1_WSAttribute">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:WSAttribute"/>
    </sequence>
   </complexType>
   <element name="selfRegisterResponse">
    <complexType/>
   </element>
   <element name="getChallengeQuestions">
    <complexType>
     <sequence>
      <element name="principle" type="xsd:string"/>
      <element name="wsLocale" type="tns1:WSLocale"/>
     </sequence>
    </complexType>
   </element>
   <element name="getChallengeQuestionsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getChallengeQuestionsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getItimFixpackLevel">
    <complexType/>
   </element>
   <element name="getItimFixpackLevelResponse">
    <complexType>
     <sequence>
      <element name="getItimFixpackLevelReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getItimVersion">
    <complexType/>
   </element>
   <element name="getItimVersionResponse">
    <complexType>
     <sequence>
      <element name="getItimVersionReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="getItimVersionInfo">
    <complexType/>
   </element>
   <element name="getItimVersionInfoResponse">
    <complexType>
     <sequence>
      <element name="getItimVersionInfoReturn" type="tns1:WSVersionInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault3" type="tns2:WSUnsupportedVersionException"/>
   <element name="getWebServicesBuildNumber">
    <complexType/>
   </element>
   <element name="getWebServicesBuildNumberResponse">
    <complexType>
     <sequence>
      <element name="getWebServicesBuildNumberReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getWebServicesTargetType">
    <complexType/>
   </element>
   <element name="getWebServicesTargetTypeResponse">
    <complexType>
     <sequence>
      <element name="getWebServicesTargetTypeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getWebServicesVersion">
    <complexType/>
   </element>
   <element name="getWebServicesVersionResponse">
    <complexType>
     <sequence>
      <element name="getWebServicesVersionReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="lostPasswordLoginResetPassword">
    <complexType>
     <sequence>
      <element name="principle" type="xsd:string"/>
      <element maxOccurs="unbounded" name="challengeInfo" type="tns1:WSChallengeResponseInfo"/>
      <element name="wsLocale" type="tns1:WSLocale"/>
     </sequence>
    </complexType>
   </element>
   <element name="lostPasswordLoginResetPasswordResponse">
    <complexType>
     <sequence>
      <element name="lostPasswordLoginResetPasswordReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault4" type="tns2:WSLoginServiceException"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://services.ws.itim.ibm.com"/>
   <complexType name="WSLocale">
    <sequence>
     <element name="country" nillable="true" type="xsd:string"/>
     <element name="variant" nillable="true" type="xsd:string"/>
     <element name="language" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WSSession">
    <sequence>
     <element name="clientSession" nillable="true" type="xsd:string"/>
     <element name="enforceChallengeResponse" type="xsd:boolean"/>
     <element name="locale" nillable="true" type="tns1:WSLocale"/>
     <element name="sessionID" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="WSPasswordRulesInfo">
    <sequence>
     <element name="allowUserName" type="xsd:boolean"/>
     <element name="requiredChars" nillable="true" type="xsd:string"/>
     <element name="minDistinctCharacters" type="xsd:int"/>
     <element name="minLength" type="xsd:int"/>
     <element name="reversedHistoryLength" type="xsd:int"/>
     <element name="maxValidityPeriod" type="xsd:long"/>
     <element name="allowUserIDCaseInsensitive" type="xsd:boolean"/>
     <element name="allowUserID" type="xsd:boolean"/>
     <element name="maxSequentialCharacters" type="xsd:int"/>
     <element name="maxLength" type="xsd:int"/>
     <element name="minAlphabeticCharacters" type="xsd:int"/>
     <element name="restrictedToChars" nillable="true" type="xsd:string"/>
     <element name="customRules" nillable="true" type="apachesoap:Map"/>
     <element name="invalidChars" nillable="true" type="xsd:string"/>
     <element name="startsWithChars" nillable="true" type="xsd:string"/>
     <element name="minDigitCharacters" type="xsd:int"/>
     <element name="minValidityPeriod" type="xsd:long"/>
     <element name="allowInDictionary" type="xsd:boolean"/>
     <element name="allowUserNameCaseInsensitive" type="xsd:boolean"/>
     <element name="repeatedHistoryLength" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="WSRequest">
    <sequence>
     <element name="timeCompleted" nillable="true" type="xsd:dateTime"/>
     <element name="subjectProfile" nillable="true" type="xsd:string"/>
     <element name="result" nillable="true" type="xsd:string"/>
     <element name="select" type="xsd:boolean"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="processTypeString" nillable="true" type="xsd:string"/>
     <element name="title" nillable="true" type="xsd:string"/>
     <element name="owner" nillable="true" type="xsd:string"/>
     <element name="processStateString" nillable="true" type="xsd:string"/>
     <element name="status" type="xsd:int"/>
     <element name="requestee" nillable="true" type="xsd:string"/>
     <element name="timeSubmitted" nillable="true" type="xsd:dateTime"/>
     <element name="subject" nillable="true" type="xsd:string"/>
     <element name="requestId" type="xsd:long"/>
     <element name="processType" nillable="true" type="xsd:string"/>
     <element name="subjectService" nillable="true" type="xsd:string"/>
     <element name="statusString" nillable="true" type="xsd:string"/>
     <element name="processState" nillable="true" type="xsd:string"/>
     <element name="timeScheduled" nillable="true" type="xsd:dateTime"/>
    </sequence>
   </complexType>
   <complexType name="WSAttribute">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="values" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="WSObject">
    <sequence>
     <element name="attributes" nillable="true" type="impl:ArrayOf_tns1_WSAttribute"/>
     <element name="select" type="xsd:boolean"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="itimDN" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WSPerson">
    <complexContent>
     <extension base="tns1:WSObject">
      <sequence>
       <element name="profileName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="WSVersionInfo">
    <sequence>
     <element name="buildNumber" nillable="true" type="xsd:string"/>
     <element name="fixPackLevel" nillable="true" type="xsd:string"/>
     <element name="buildDate" nillable="true" type="xsd:string"/>
     <element name="buildTime" nillable="true" type="xsd:string"/>
     <element name="version" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WSChallengeResponseInfo">
    <sequence>
     <element name="question" nillable="true" type="xsd:string"/>
     <element name="answer" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.ws.itim.ibm.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://services.ws.itim.ibm.com"/>
   <complexType name="WSApplicationException">
    <sequence/>
   </complexType>
   <complexType name="WSPasswordRuleException">
    <sequence>
     <element name="wsPri2" nillable="true" type="tns1:WSPasswordRulesInfo"/>
     <element name="wsPri1" nillable="true" type="tns1:WSPasswordRulesInfo"/>
    </sequence>
   </complexType>
   <complexType name="WSUnsupportedVersionException">
    <sequence/>
   </complexType>
   <complexType name="WSLoginServiceException">
    <sequence/>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <import namespace="http://model.ws.itim.ibm.com"/>
   <import namespace="http://services.ws.itim.ibm.com"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getItimVersionInfoResponse">

      <wsdl:part element="intf:getItimVersionInfoResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="lostPasswordLoginResetPasswordResponse">

      <wsdl:part element="intf:lostPasswordLoginResetPasswordResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getChallengeQuestionsResponse">

      <wsdl:part element="intf:getChallengeQuestionsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="selfRegisterRequest">

      <wsdl:part element="intf:selfRegister" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSelfPasswordChangeRulesRequest">

      <wsdl:part element="intf:getSelfPasswordChangeRules" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSelfPasswordChangeRulesResponse">

      <wsdl:part element="intf:getSelfPasswordChangeRulesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getWebServicesTargetTypeResponse">

      <wsdl:part element="intf:getWebServicesTargetTypeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="lostPasswordLoginResetPasswordRequest">

      <wsdl:part element="intf:lostPasswordLoginResetPassword" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getChallengeQuestionsRequest">

      <wsdl:part element="intf:getChallengeQuestions" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="joinRulesResponse">

      <wsdl:part element="intf:joinRulesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getWebServicesVersionRequest">

      <wsdl:part element="intf:getWebServicesVersion" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSApplicationException">

      <wsdl:part element="intf:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="WSPasswordRuleException">

      <wsdl:part element="intf:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="joinRulesRequest">

      <wsdl:part element="intf:joinRules" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSLoginServiceException">

      <wsdl:part element="intf:fault4" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getWebServicesTargetTypeRequest">

      <wsdl:part element="intf:getWebServicesTargetType" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getItimVersionInfoRequest">

      <wsdl:part element="intf:getItimVersionInfo" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="selfRegisterResponse">

      <wsdl:part element="intf:selfRegisterResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSUnsupportedVersionException">

      <wsdl:part element="intf:fault3" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getItimFixpackLevelRequest">

      <wsdl:part element="intf:getItimFixpackLevel" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getItimVersionResponse">

      <wsdl:part element="intf:getItimVersionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getWebServicesBuildNumberRequest">

      <wsdl:part element="intf:getWebServicesBuildNumber" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getWebServicesVersionResponse">

      <wsdl:part element="intf:getWebServicesVersionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getItimFixpackLevelResponse">

      <wsdl:part element="intf:getItimFixpackLevelResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getItimVersionRequest">

      <wsdl:part element="intf:getItimVersion" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getWebServicesBuildNumberResponse">

      <wsdl:part element="intf:getWebServicesBuildNumberResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="WSUnauthService">


      <wsdl:operation name="getSelfPasswordChangeRules">

         <wsdl:input message="intf:getSelfPasswordChangeRulesRequest" name="getSelfPasswordChangeRulesRequest"/>

         <wsdl:output message="intf:getSelfPasswordChangeRulesResponse" name="getSelfPasswordChangeRulesResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="joinRules">

         <wsdl:input message="intf:joinRulesRequest" name="joinRulesRequest"/>

         <wsdl:output message="intf:joinRulesResponse" name="joinRulesResponse"/>

         <wsdl:fault message="intf:WSPasswordRuleException" name="WSPasswordRuleException"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>


      <wsdl:operation name="selfRegister">

         <wsdl:input message="intf:selfRegisterRequest" name="selfRegisterRequest"/>

         <wsdl:output message="intf:selfRegisterResponse" name="selfRegisterResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getChallengeQuestions">

         <wsdl:input message="intf:getChallengeQuestionsRequest" name="getChallengeQuestionsRequest"/>

         <wsdl:output message="intf:getChallengeQuestionsResponse" name="getChallengeQuestionsResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getItimFixpackLevel">

         <wsdl:input message="intf:getItimFixpackLevelRequest" name="getItimFixpackLevelRequest"/>

         <wsdl:output message="intf:getItimFixpackLevelResponse" name="getItimFixpackLevelResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getItimVersion">

         <wsdl:input message="intf:getItimVersionRequest" name="getItimVersionRequest"/>

         <wsdl:output message="intf:getItimVersionResponse" name="getItimVersionResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getItimVersionInfo">

         <wsdl:input message="intf:getItimVersionInfoRequest" name="getItimVersionInfoRequest"/>

         <wsdl:output message="intf:getItimVersionInfoResponse" name="getItimVersionInfoResponse"/>

         <wsdl:fault message="intf:WSUnsupportedVersionException" name="WSUnsupportedVersionException"/>

      </wsdl:operation>

      <wsdl:operation name="getWebServicesBuildNumber">

         <wsdl:input message="intf:getWebServicesBuildNumberRequest" name="getWebServicesBuildNumberRequest"/>

         <wsdl:output message="intf:getWebServicesBuildNumberResponse" name="getWebServicesBuildNumberResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getWebServicesTargetType">

         <wsdl:input message="intf:getWebServicesTargetTypeRequest" name="getWebServicesTargetTypeRequest"/>

         <wsdl:output message="intf:getWebServicesTargetTypeResponse" name="getWebServicesTargetTypeResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getWebServicesVersion">

         <wsdl:input message="intf:getWebServicesVersionRequest" name="getWebServicesVersionRequest"/>

         <wsdl:output message="intf:getWebServicesVersionResponse" name="getWebServicesVersionResponse"/>

         <wsdl:fault message="intf:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>


      <wsdl:operation name="lostPasswordLoginResetPassword">

         <wsdl:input message="intf:lostPasswordLoginResetPasswordRequest" name="lostPasswordLoginResetPasswordRequest"/>

         <wsdl:output message="intf:lostPasswordLoginResetPasswordResponse" name="lostPasswordLoginResetPasswordResponse"/>

         <wsdl:fault message="intf:WSLoginServiceException" name="WSLoginServiceException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSUnauthServiceSoapBinding" type="intf:WSUnauthService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSelfPasswordChangeRules">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSelfPasswordChangeRulesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSelfPasswordChangeRulesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="joinRules">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="joinRulesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="joinRulesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSPasswordRuleException">

            <wsdlsoap:fault name="WSPasswordRuleException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="selfRegister">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="selfRegisterRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="selfRegisterResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getChallengeQuestions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getChallengeQuestionsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getChallengeQuestionsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getItimFixpackLevel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getItimFixpackLevelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getItimFixpackLevelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getItimVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getItimVersionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getItimVersionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getItimVersionInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getItimVersionInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getItimVersionInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSUnsupportedVersionException">

            <wsdlsoap:fault name="WSUnsupportedVersionException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getWebServicesBuildNumber">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWebServicesBuildNumberRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getWebServicesBuildNumberResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getWebServicesTargetType">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWebServicesTargetTypeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getWebServicesTargetTypeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getWebServicesVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWebServicesVersionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getWebServicesVersionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="lostPasswordLoginResetPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lostPasswordLoginResetPasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="lostPasswordLoginResetPasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSUnauthServiceService">

      <wsdl:port binding="intf:WSUnauthServiceSoapBinding" name="WSUnauthService">

         <wsdlsoap:address location="http://10.47.1.51:9081/itim/services/WSUnauthServiceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
