智慧城市/项目代码/TIM 代码/SyncPerson/WebContent/WEB-INF/wsdl/WSSessionService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="http://services.ws.itim.ibm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.ws.itim.ibm.com" xmlns:intf="http://services.ws.itim.ibm.com" xmlns:tns1="http://model.ws.itim.ibm.com" xmlns:tns2="http://exceptions.ws.itim.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://services.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
  	<import namespace="http://exceptions.ws.itim.ibm.com"/>
  	<import namespace="http://model.ws.itim.ibm.com"/>
  	<element name="getChallengeQuestions">
  		<complexType>
  			<sequence>
  				<element name="principle" type="xsd:string"/>
  				<element name="wsLocale" type="tns1:WSLocale"/>
  			</sequence>
  		</complexType>
  	</element>
  	<element name="getChallengeQuestionsResponse">
  		<complexType>
  			<sequence>
  				<element maxOccurs="unbounded" name="getChallengeQuestionsReturn" type="xsd:string"/>
  			</sequence>
  		</complexType>
  	</element>
  	<element name="fault" type="tns2:WSApplicationException"/>
  	<element name="getItimFixpackLevel">
  		<complexType/>
  	</element>
  	<element name="getItimFixpackLevelResponse">
  		<complexType>
  			<sequence>
  				<element name="getItimFixpackLevelReturn" type="xsd:int"/>
  			</sequence>
  		</complexType>
  	</element>
  	<element name="getItimVersion">
  		<complexType/>
  	</element>
  	<element name="getItimVersionResponse">
  		<complexType>
  			<sequence>
  				<element name="getItimVersionReturn" type="xsd:float"/>
  			</sequence>
  		</complexType>
  	</element>
  	<element name="getItimVersionInfo">
  		<complexType/>
  	</element>
  	<element name="getItimVersionInfoResponse">
  		<complexType>
  			<sequence>
  				<element name="getItimVersionInfoReturn" type="tns1:WSVersionInfo"/>
  			</sequence>
  		</complexType>
  	</element>
  	<element name="fault1" type="tns2:WSUnsupportedVersionException"/>
  	<element name="getWebServicesBuildNumber">
  		<complexType/>
  	</element>
  	<element name="getWebServicesBuildNumberResponse">
  		<complexType>
  			<sequence>
  				<element name="getWebServicesBuildNumberReturn" type="xsd:int"/>
  			</sequence>
  		</complexType>
  	</element>
  	<element name="getWebServicesTargetType">
  		<complexType/>
  	</element>
  	<element name="getWebServicesTargetTypeResponse">
  		<complexType>
  			<sequence>
  				<element name="getWebServicesTargetTypeReturn" type="xsd:string"/>
  			</sequence>
  		</complexType>
  	</element>
  	<element name="getWebServicesVersion">
  		<complexType/>
  	</element>
  	<element name="getWebServicesVersionResponse">
  		<complexType>
  			<sequence>
  				<element name="getWebServicesVersionReturn" type="xsd:float"/>
  			</sequence>
  		</complexType>
  	</element>
  	<element name="isPasswordEditingAllowed">
  		<complexType>
  			<sequence>
  				<element name="session" type="tns1:WSSession"/>
  			</sequence>
  		</complexType>
  	</element>
  	<element name="isPasswordEditingAllowedResponse">
  		<complexType>
  			<sequence>
  				<element name="isPasswordEditingAllowedReturn" type="xsd:boolean"/>
  			</sequence>
  		</complexType>
  	</element>
  	<element name="fault2" type="tns2:WSInvalidSessionException"/>
  	<element name="login">
  		<complexType>
  			<sequence>
  				<element name="principal" type="xsd:string"/>
  				<element name="credential" type="xsd:string"/>
  			</sequence>
  		</complexType>
  	</element>
  	<element name="loginResponse">
  		<complexType>
  			<sequence>
  				<element name="loginReturn" type="tns1:WSSession"/>
  			</sequence>
  		</complexType>
  	</element>
  	<element name="fault3" type="tns2:WSLoginServiceException"/>
  	<element name="fault4" type="tns2:WSInvalidLoginException"/>
  	<element name="lostPasswordLoginDirectEntry">
  		<complexType>
  			<sequence>
  				<element name="principle" type="xsd:string"/>
  				<element maxOccurs="unbounded" name="challengeInfo" type="tns1:WSChallengeResponseInfo"/>
                        <element name="newPassword" type="string"/>
                        <element name="wsLocale" type="tns1:WSLocale"/>

  			</sequence>
  		</complexType>
  	</element>
  	<element name="lostPasswordLoginDirectEntryResponse">
  		<complexType>
  			<sequence>
  				<element name="lostPasswordLoginDirectEntryReturn" type="tns1:WSSession"/>
  			</sequence>
  		</complexType>
  	</element>
  	<element name="lostPasswordLoginResetPassword">
  		<complexType>
  			<sequence>
  				<element name="principle" type="xsd:string"/>
  				<element maxOccurs="unbounded" name="challengeInfo" type="tns1:WSChallengeResponseInfo"/>
  				<element name="wsLocale" type="tns1:WSLocale"/>
  			</sequence>
  		</complexType>
  	</element>
  	<element name="lostPasswordLoginResetPasswordResponse">
  		<complexType>
  			<sequence>
  				<element name="lostPasswordLoginResetPasswordReturn" type="xsd:string"/>
  			</sequence>
  		</complexType>
  	</element>
  	<element name="logout">
  		<complexType>
  			<sequence>
  				<element name="session" type="tns1:WSSession"/>
  			</sequence>
  		</complexType>
  	</element>
  	<element name="logoutResponse">
  		<complexType>
  			<sequence>
  			</sequence>
  		</complexType>
  	</element>
  </schema>
    <schema elementFormDefault="qualified" targetNamespace="http://model.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <complexType name="WSLocale">
    <sequence>
     <element name="country" nillable="true" type="xsd:string"/>
     <element name="variant" nillable="true" type="xsd:string"/>
     <element name="language" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WSVersionInfo">
    <sequence>
     <element name="buildNumber" nillable="true" type="xsd:string"/>
     <element name="fixPackLevel" nillable="true" type="xsd:string"/>
     <element name="buildDate" nillable="true" type="xsd:string"/>
     <element name="buildTime" nillable="true" type="xsd:string"/>
     <element name="version" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WSSession">
    <sequence>
     <element name="clientSession" nillable="true" type="xsd:string"/>
     <element name="enforceChallengeResponse" type="xsd:boolean"/>
     <element name="locale" nillable="true" type="tns1:WSLocale"/>
     <element name="sessionID" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="WSChallengeResponseInfo">
    <sequence>
     <element name="question" nillable="true" type="xsd:string"/>
     <element name="answer" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
    <schema elementFormDefault="qualified" targetNamespace="http://exceptions.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.ws.itim.ibm.com"/>
   <complexType name="WSApplicationException">
    <sequence/>
   </complexType>
   <complexType name="WSUnsupportedVersionException">
    <sequence/>
   </complexType>
   <complexType name="WSLoginServiceException">
    <sequence/>
   </complexType>
   <complexType name="WSInvalidSessionException">
    <complexContent>
     <extension base="tns2:WSLoginServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="WSInvalidLoginException">
    <complexContent>
     <extension base="tns2:WSLoginServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  </wsdl:types>
  <wsdl:message name="getChallengeQuestionsRequest">
    <wsdl:part element="impl:getChallengeQuestions" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part element="impl:loginResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItimVersionInfoResponse">
    <wsdl:part element="impl:getItimVersionInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItimVersionInfoRequest">
    <wsdl:part element="impl:getItimVersionInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lostPasswordLoginResetPasswordResponse">
    <wsdl:part element="impl:lostPasswordLoginResetPasswordResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lostPasswordLoginDirectEntryRequest">
    <wsdl:part element="impl:lostPasswordLoginDirectEntry" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isPasswordEditingAllowedResponse">
    <wsdl:part element="impl:isPasswordEditingAllowedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWebServicesBuildNumberRequest">
    <wsdl:part element="impl:getWebServicesBuildNumber" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItimFixpackLevelResponse">
    <wsdl:part element="impl:getItimFixpackLevelResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lostPasswordLoginDirectEntryResponse">
    <wsdl:part element="impl:lostPasswordLoginDirectEntryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWebServicesTargetTypeRequest">
    <wsdl:part element="impl:getWebServicesTargetType" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWebServicesVersionResponse">
    <wsdl:part element="impl:getWebServicesVersionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WSInvalidLoginException">
    <wsdl:part element="impl:fault4" name="fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWebServicesBuildNumberResponse">
    <wsdl:part element="impl:getWebServicesBuildNumberResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WSLoginServiceException">
    <wsdl:part element="impl:fault3" name="fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logoutRequest">
    <wsdl:part element="impl:logout" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItimVersionResponse">
    <wsdl:part element="impl:getItimVersionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWebServicesVersionRequest">
    <wsdl:part element="impl:getWebServicesVersion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lostPasswordLoginResetPasswordRequest">
    <wsdl:part element="impl:lostPasswordLoginResetPassword" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWebServicesTargetTypeResponse">
    <wsdl:part element="impl:getWebServicesTargetTypeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WSApplicationException">
    <wsdl:part element="impl:fault" name="fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WSInvalidSessionException">
    <wsdl:part element="impl:fault2" name="fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WSUnsupportedVersionException">
    <wsdl:part element="impl:fault1" name="fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part element="impl:logoutResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part element="impl:login" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isPasswordEditingAllowedRequest">
    <wsdl:part element="impl:isPasswordEditingAllowed" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItimVersionRequest">
    <wsdl:part element="impl:getItimVersion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getChallengeQuestionsResponse">
    <wsdl:part element="impl:getChallengeQuestionsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItimFixpackLevelRequest">
    <wsdl:part element="impl:getItimFixpackLevel" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSSessionService">
    <wsdl:operation name="getChallengeQuestions">
      <wsdl:input message="impl:getChallengeQuestionsRequest" name="getChallengeQuestionsRequest">
    </wsdl:input>
      <wsdl:output message="impl:getChallengeQuestionsResponse" name="getChallengeQuestionsResponse">
    </wsdl:output>
      <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getItimFixpackLevel">
      <wsdl:input message="impl:getItimFixpackLevelRequest" name="getItimFixpackLevelRequest">
    </wsdl:input>
      <wsdl:output message="impl:getItimFixpackLevelResponse" name="getItimFixpackLevelResponse">
    </wsdl:output>
      <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getItimVersion">
      <wsdl:input message="impl:getItimVersionRequest" name="getItimVersionRequest">
    </wsdl:input>
      <wsdl:output message="impl:getItimVersionResponse" name="getItimVersionResponse">
    </wsdl:output>
      <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getItimVersionInfo">
      <wsdl:input message="impl:getItimVersionInfoRequest" name="getItimVersionInfoRequest">
    </wsdl:input>
      <wsdl:output message="impl:getItimVersionInfoResponse" name="getItimVersionInfoResponse">
    </wsdl:output>
      <wsdl:fault message="impl:WSUnsupportedVersionException" name="WSUnsupportedVersionException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWebServicesBuildNumber">
      <wsdl:input message="impl:getWebServicesBuildNumberRequest" name="getWebServicesBuildNumberRequest">
    </wsdl:input>
      <wsdl:output message="impl:getWebServicesBuildNumberResponse" name="getWebServicesBuildNumberResponse">
    </wsdl:output>
      <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWebServicesTargetType">
      <wsdl:input message="impl:getWebServicesTargetTypeRequest" name="getWebServicesTargetTypeRequest">
    </wsdl:input>
      <wsdl:output message="impl:getWebServicesTargetTypeResponse" name="getWebServicesTargetTypeResponse">
    </wsdl:output>
      <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWebServicesVersion">
      <wsdl:input message="impl:getWebServicesVersionRequest" name="getWebServicesVersionRequest">
    </wsdl:input>
      <wsdl:output message="impl:getWebServicesVersionResponse" name="getWebServicesVersionResponse">
    </wsdl:output>
      <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isPasswordEditingAllowed">
      <wsdl:input message="impl:isPasswordEditingAllowedRequest" name="isPasswordEditingAllowedRequest">
    </wsdl:input>
      <wsdl:output message="impl:isPasswordEditingAllowedResponse" name="isPasswordEditingAllowedResponse">
    </wsdl:output>
      <wsdl:fault message="impl:WSInvalidSessionException" name="WSInvalidSessionException">
    </wsdl:fault>
      <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="impl:loginRequest" name="loginRequest">
    </wsdl:input>
      <wsdl:output message="impl:loginResponse" name="loginResponse">
    </wsdl:output>
      <wsdl:fault message="impl:WSInvalidLoginException" name="WSInvalidLoginException">
    </wsdl:fault>
      <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lostPasswordLoginDirectEntry">
      <wsdl:input message="impl:lostPasswordLoginDirectEntryRequest" name="lostPasswordLoginDirectEntryRequest">
    </wsdl:input>
      <wsdl:output message="impl:lostPasswordLoginDirectEntryResponse" name="lostPasswordLoginDirectEntryResponse">
    </wsdl:output>
      <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lostPasswordLoginResetPassword">
      <wsdl:input message="impl:lostPasswordLoginResetPasswordRequest" name="lostPasswordLoginResetPasswordRequest">
    </wsdl:input>
      <wsdl:output message="impl:lostPasswordLoginResetPasswordResponse" name="lostPasswordLoginResetPasswordResponse">
    </wsdl:output>
      <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input message="impl:logoutRequest">
    </wsdl:input>
      <wsdl:output message="impl:logoutResponse">
    </wsdl:output>
      <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSSessionServiceSoapBinding" type="impl:WSSessionService">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getChallengeQuestions">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getChallengeQuestionsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getChallengeQuestionsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WSApplicationException">
        <wsdlsoap:fault name="WSApplicationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getItimFixpackLevel">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getItimFixpackLevelRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getItimFixpackLevelResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WSApplicationException">
        <wsdlsoap:fault name="WSApplicationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getItimVersion">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getItimVersionRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getItimVersionResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WSApplicationException">
        <wsdlsoap:fault name="WSApplicationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getItimVersionInfo">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getItimVersionInfoRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getItimVersionInfoResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WSUnsupportedVersionException">
        <wsdlsoap:fault name="WSUnsupportedVersionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWebServicesBuildNumber">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getWebServicesBuildNumberRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getWebServicesBuildNumberResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WSApplicationException">
        <wsdlsoap:fault name="WSApplicationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWebServicesTargetType">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getWebServicesTargetTypeRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getWebServicesTargetTypeResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WSApplicationException">
        <wsdlsoap:fault name="WSApplicationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWebServicesVersion">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getWebServicesVersionRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getWebServicesVersionResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WSApplicationException">
        <wsdlsoap:fault name="WSApplicationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isPasswordEditingAllowed">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="isPasswordEditingAllowedRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="isPasswordEditingAllowedResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WSInvalidSessionException">
        <wsdlsoap:fault name="WSInvalidSessionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WSApplicationException">
        <wsdlsoap:fault name="WSApplicationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="loginRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WSInvalidLoginException">
        <wsdlsoap:fault name="WSInvalidLoginException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WSLoginServiceException">
        <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lostPasswordLoginDirectEntry">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="lostPasswordLoginDirectEntryRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lostPasswordLoginDirectEntryResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WSLoginServiceException">
        <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lostPasswordLoginResetPassword">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="lostPasswordLoginResetPasswordRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lostPasswordLoginResetPasswordResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WSLoginServiceException">
        <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WSLoginServiceException">
        <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSSessionService">
    <wsdl:port binding="impl:WSSessionServiceSoapBinding" name="WSSessionServicePort">
      <wsdlsoap:address location="http://localhost:9081/itim/services/WSSessionService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>